body {
  background: var(--background);
  color: var(--background-text);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.with-sidebar > :last-child {
  flex-grow: 1;
}
